{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}

<iframe{{ attributes }}{% if url is not empty %} src="{{ url }}"{% endif %} {% if (responsive == 0) %} width="{{ videowidth }}" height="{{ videoheight }}" {% endif %} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
